
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
  <%= link_to('Log in with Google!', '/auth/google') %>
<% end %>
<br>
<%= link_to "Log Out", session_path, method:'delete' %>